<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">指标告警处理</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <input type="hidden" class="form-control" id="warn_id" name="warn_id" >
        <div class="form-group">
            <label class="col-sm-2 control-label">数据源</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled ng-model="warn.source_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">数据集</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled ng-model="warn.dataset_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">指标</label>
            <div class="col-sm-10">
                <input  type="text" class="form-control" disabled ng-model="warn.quota">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">预警内容</label>
            <div class="col-sm-10">
                <textarea  type="text" class="form-control" disabled ng-model="warn.con"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">处理方法</label>
            <div class="col-sm-10">
                <textarea  type="text" class="form-control" ng-model="warn.content"></textarea>
            </div>
        </div>


    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">已处理</button>
    <button type="button" class="btn btn-primary" ng-click="save()">暂存</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">
        {{'COMMON.CANCEL'|translate}}
    </button>
</div>