<!-- Content Wrapper. Contains page content -->
<div id="inner-container" class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">系统展示监控</h3>
                    <div class="box-tools">
                        <i class="fa fa-reply toolbar-icon" ng-click="back()" title="返回" style="margin-top: 4px;">返回</i>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr >
                            <td><div id="cpu" style="width: 500px;height: 220px"></div></td>
                            <td><div id="disk" style="width: 500px;height: 220px"></div></td>
                        </tr>

                        <tr >
                            <td> <div id="men" style="width: 500px;height: 220px"></div></td>
                            <td> <div id="netio" style="width: 500px;height: 220px"></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
